shapely
scikit-image
imgaug
pyclipper
lmdb
tqdm
numpy<2.0
rapidfuzz
opencv-python
opencv-contrib-python
cython
Pillow
pyyaml
requests
astor
httpx
opt-einsum==3.3.0
protobuf>=3.20.2
decorator
paddleocr
b2
